.todo-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-name {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.todo-subject {
  font-size: 20px;
  color: #666666;
}

.todo-delete-button {
  position: absolute;
  top: 30px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: white;
}

.todo-delete-button:hover {
  color: red;
}

.todo-left {
  color: white;
}
