.curriculum-column {
  display: grid;
  grid-template-rows: repeat(1fr, 10);
  flex: 1;
  box-sizing: border-box;
}

.week-row {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  margin: 0.5px 5px;
  justify-content: center;
}
